<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contact Us</title>
    </head>
    <body>
        <h1>Contact Us Page</h1>

        <p> Dept: <%= qs.dept%> </p>

        <div class="">
            This is a contact_us page
        </div>

        <div class="">
            Mohammedpur, Dhaka
        </div>
    </body>
</html>
